# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# Status file
status.json

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
